---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Lato', sans-serif;
$nav-font-family: 'Karla', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$brand-color:      #373737;
$text-color:       $brand-color;
$background-color: #ededed;

$first-color:      #eff169;
$second-color:     #ff4500;
$third-color:      #71c9bd;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-tablet:        1023px;
$on-desktop:       1024px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "sqrt",
        "layout"
;
