---
layout: default
title: Amorelie
link: http://www.amorelie.de/
group: projects
weight: 8
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
        <p>
            Front-End developer for Amorelie, a Berlin-based company. Integration of new responsive designs, workflow tasks automation (Yeoman, Bower, Grunt), convertion of LESS code to SASS, replacement of Bootstrap with Susy grid system, optmisation of the whole code for a better loading performance. E-commerce based on Magento.
        </p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/amorelie.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
    </article>
