---
layout: default
title: Atrapalo
link: https://www.atrapalo.com/promo/los-imperdibles/
group: projects
weight: 3
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Miniweb developed for Atrapalo marketing campaign. Project commissioned by <a href="http://thisispabs.com/" target="_blank"> Pablo Fernández Garibay</a> in Barcelona.
		</p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/atrapalo.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
	</article>
