---
layout: default
title: Flat UI
link: http://designmodo.github.io/Flat-UI/
group: projects
weight: 2
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Front-End development for the migration of Flat UI library from Bootstrap version 3 to the version 4.
		</p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/flatui.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
	</article>
