---
layout: default
title: Le French Biscuit
link: https://www.lefrenchbiscuit.fr/
group: projects
weight: 3
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Front-End and Back-End (Shopify) development for Le French Biscuit new e-commerce. Project commissioned by <a href="http://www.monsieurmadame.es/" target="_blank">Monsieur Madame</a> studio in Barcelona.
		</p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/frenchbiscuit.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
	</article>
