---
layout: default
title: Glenrothes
link: https://www.theglenrothes.com/en
group: projects
weight: 1
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Front-End development for Glenrothes new website. Project commissioned by On&On Agency in Barcelona.
		</p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/glenrothes.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
	</article>
