---
layout: default
title: Hotel Brummell
link: http://www.hotelbrummell.com
group: projects
weight: 5
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Front-End and Back-End (WordPress) development for Hotel Brummell in Barcelona. Project commissioned by <a href="http://www.zecle.es/" target="_blank">Zeclè</a> in Barcelona.
		</p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/hotel-brummell.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
	</article>
