---
layout: default
title: Nivea
group: projects
weight: 11
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Front-End development of the Facebook app for Nivea For Men's campaign. Project commissioned by <a href="http://www.fcb.com/location/milan" target="_blank">DraftFCB</a> in Milan.
		</p>

        <p><img alt="Nivea" src="showcase/nivea.jpg"></p>
	</article>
