---
layout: default
title: Poste Italiane
group: projects
weight: 12
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Front-End development on a microsite used for a marketing campaign. Project commissioned by <a href="http://www.fcb.com/location/milan" target="_blank">DraftFCB</a> in Milan.
		</p>

        <p><img alt="{{ page.title }}" src="showcase/poste-italiane.jpg"></p>
	</article>
