---
layout: default
title: Propulsion
link: https://propulsion.academy/
group: projects
weight: 6
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Front-End and Back-end (WordPress) development for Propulsion Academy based in Switzerland.
		</p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/propulsion.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
	</article>
