---
layout: default
title: Reply
group: projects
weight: 9
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Static website developed for the annual financial report of Reply group.
		</p>

        <p><img alt="{{ page.title }}" src="showcase/reply.jpg"></p>
	</article>
