---
layout: default
title: Sky
link: http://www.sky.de/
group: projects
weight: 4
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
        <p>
            Active member of the Front-End team ( 8 persons ) which implemented the new design for the Sky German website. Project commissioned by <a href="http://www.reply.eu" target="_blank">Reply</a>.
        </p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/sky.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
    </article>
