---
layout: default
title: Teresa Helbig
link: http://www.teresahelbig.com/
group: projects
weight: 9
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

    <article class="fold--content">
        <h1>{{ page.title }}</h1>
        <p>
            Front-End and Back-end (WordPress) development of the new Teresa Helbig's website, a spanish fashion brand.  Project commissioned by <a href="http://www.solofficial.com/" target="_blank">Solo Studio</a> and developed in association with <a href="http://www.putosmodernos.com/" target="_blank">Putos Modernos</a> in Barcelona.
        </p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/teresa-helbig.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
    </article>
