---
layout: default
title: Topcret
link: http://www.topcret.com/en/
group: projects
weight: 0
custom_js:
- jquery.min
- svg-morpheus
- tween-max.min
- main
---

	<article class="fold--content">
        <h1>{{ page.title }}</h1>
		<p>
			Front-End, Back-End (WordPress) and Project Management for Topcret in Barcelona. Leader of 4 people team, composed by 1 Designer, 1 Copywriter, 1 SEO/SEM specialist and me.
		</p>

        <p><a href="{{ page.link }}" target="_blank"><img alt="{{ page.title }}" src="showcase/topcret.jpg"></a></p>

        <p class="text-center"><a class="gotoproject" href="{{ page.link }}" target="_blank">see project</a></p>
	</article>
