
<div class="about--box">
    <span class="color-2">#marco-melluso</span> {
    <dl class="about--code">
        <dt>dev-family</dt><dd>Front-End;</dd>
        <dt>dev-style</dt> <dd>pixel-perfect;</dd>
        <dt>background-origin</dt><dd>italy;</dd>
        <dt>position</dt><dd>spain;</dd>
        <dt>top</dt><dd>0;</dd>
        <dt>right</dt><dd>0;</dd>
        <dt>content</dt><dd><a class="color-2" href="mailto:yo@marcomelluso.com">'yo@marcomelluso.com'</a>;</dd>
        <dt>outline</dt><dd>
            <a href="https://twitter.com/foriaa" target="_blank">twitter</a>,
            <a href="https://es.linkedin.com/in/marcomelluso" target="_blank">linkedin</a>;
        </dd>
        <dt>will-change</dt><dd>position;</dd>
        <dt>quotes</dt><dd><span class="color-2">'Information is not knowledge.'</span>;</dd>
        <dt>clear</dt><dd><span class="color-2">'I hope...'</span>;</dd>
    </dl>
    }
        <!-- <li>☲ Frontend & WordPress Dev</li>
        <li><svg version="1.1" id="sun-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"viewBox="333 -121 320 320" enable-background="new 333 -121 320 320" xml:space="preserve">
            <path fill="#373737" d="M485-121h16v59h-16V-121z M485,140h16v59h-16V140z M594,31h59v16h-59V31z M333,31h59v16h-59V31z
                 M605.3,137.3l-11.9,11.9l-33.8-33.8l11.9-11.9L605.3,137.3z M428.6-39.4l-11.9,11.9l-33.9-33.9l11.9-11.9L428.6-39.4z M593.3-73.3
                l11.9,11.9l-33.8,33.8l-11.9-11.9L593.3-73.3z M416.6,103.5l11.9,11.9l-33.9,33.9l-11.9-11.9L416.6,103.5z M494.1,113.7
                c-41.8,0-75.8-34-75.8-75.8s34-75.8,75.8-75.8s75.8,34,75.8,75.8C569.8,79.7,535.8,113.7,494.1,113.7z"/>
            </svg>
            Happily living in Barcelona
        </li> -->
    <!-- </ul> -->
    <div class="tools">
        <p class="color-2">Working with:</p>
        <ul>
            <li>Sass</li>
            <li>Susy</li>
            <li>Shopify</li>
            <li>Yeoman</li>
            <li>Gulp</li>
            <li>Grunt</li>
            <li>Bower</li>
            <li>React</li>
            <li>Angular</li>
            <li>WordPress</li>
            <li>Jekyll</li>
            <li>Magento</li>
            <li>GIT</li>
            <li>Canvas</li>
            <li>JQuery</li>
            <li>D3.js</li>
            <li>Sublime</li>
            <li>Sketch</li>
            <li>Zeplin</li>
            <li>Slack</li>
            <li>Kanban</li>
        </ul>
    </div>
    <!-- <p class="social-pages">
        <a href="https://twitter.com/foriaa" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="893.3 23 32 32" xml:space="preserve">
            <path d="M925.3,29.1c-0.9,1.3-2,2.5-3.3,3.4c0,0.2,0,0.5,0,0.9c0,1.8-0.3,3.5-0.8,5.3c-0.5,1.8-1.3,3.4-2.3,5c-1,1.6-2.3,3-3.7,4.3
                c-1.4,1.2-3.2,2.2-5.2,3c-2,0.7-4.2,1.1-6.6,1.1c-3.7,0-7-1-10.1-2.9c0.5,0.1,1,0.1,1.6,0.1c3,0,5.8-0.9,8.1-2.8
                c-1.4,0-2.7-0.5-3.8-1.3s-1.9-1.9-2.3-3.2c0.4,0.1,0.9,0.1,1.2,0.1c0.6,0,1.2-0.1,1.7-0.2c-1.5-0.3-2.8-1.1-3.8-2.3
                c-1-1.2-1.5-2.6-1.5-4.2v-0.1c0.9,0.5,1.9,0.8,3,0.8c-0.9-0.6-1.6-1.4-2.1-2.3c-0.5-1-0.8-2-0.8-3.1c0-1.2,0.3-2.3,0.9-3.3
                c1.6,2,3.6,3.6,6,4.8c2.3,1.2,4.9,1.9,7.5,2c-0.1-0.5-0.2-1-0.2-1.5c0-1.8,0.6-3.4,1.9-4.6c1.3-1.3,2.8-1.9,4.6-1.9
                c1.9,0,3.5,0.7,4.8,2.1c1.5-0.3,2.9-0.8,4.2-1.6c-0.5,1.6-1.5,2.8-2.9,3.6C922.8,30,924,29.6,925.3,29.1L925.3,29.1z"/>
            </svg>
        </a>
        <a href="https://es.linkedin.com/in/marcomelluso" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="822.6 23 32 32" xml:space="preserve">
            <path d="M829.8,33.6v20.6H823V33.6H829.8L829.8,33.6z M830.3,27.3c0,1-0.3,1.9-1.1,2.5s-1.7,1-2.8,1h0c-1.1,0-2.1-0.3-2.8-1
                c-0.7-0.7-1-1.5-1-2.5c0-1,0.4-1.9,1.1-2.6s1.6-1,2.8-1s2.1,0.3,2.8,1C829.9,25.4,830.3,26.2,830.3,27.3L830.3,27.3z M854.6,42.5
                v11.8h-6.9v-11c0-1.5-0.3-2.6-0.8-3.4c-0.6-0.8-1.4-1.2-2.6-1.2c-0.9,0-1.6,0.2-2.2,0.7c-0.6,0.5-1,1.1-1.3,1.8
                c-0.2,0.4-0.2,1-0.2,1.7v11.5h-6.9c0-5.5,0-10,0-13.5s0-5.5,0-6.2l0-1h6.9v3h0c0.3-0.4,0.6-0.8,0.9-1.2c0.3-0.3,0.7-0.7,1.2-1.1
                s1.1-0.7,1.8-0.9c0.7-0.2,1.5-0.3,2.4-0.3c2.4,0,4.3,0.8,5.7,2.4S854.6,39.4,854.6,42.5L854.6,42.5z"/>
            </svg>
        </a>
    </p> -->
</div>
