<footer class="main-footer">

  <ul class="footer-nav">
    <li><a href="" class="about--link"></a></li>
    <li class="separator"></li>
    <li><a href="mailto:yo@marcomelluso.com" target="_blank">Contact</a></li>
  </ul>

</footer>
