

            <aside class="projects--logo">
                <svg version="1.1" id="logos" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 62" xml:space="preserve">
                    <g id="topcret" style="display:none">
                        <path d="M0 24.464v-3.258h12.209v3.258h-4.561v15.964h-3.052v-15.964h-4.596zm67.421 8.882c1.097-.394 2.023-1.183 2.658-2.058.12-.189.257-.429.377-.72l.034-.069.017-.086c.36-.96.617-2.298.617-3.224 0-1.217-.257-2.401-.617-3.052-.857-1.578-2.572-2.898-4.612-2.984h-6.773l.017 10.94v8.265h3.052v-6.739h2.126l3.909 6.79h3.258l-4.064-7.064.001.001zm-1.492-3.018h-3.721v-5.864h3.909c.96 0 2.143 1.492 2.143 2.709v.171c-.017 1.509-1.063 2.984-2.332 2.984h.001zm19.359-9.122v3.258h-8.042v4.681h5.916v3.344h-5.916v4.595h8.042v3.344h-11.094v-19.222h11.094zm2.503 3.258v-3.258h12.209v3.258h-4.578v15.964h-3.052v-15.964h-4.579zm-46.845-.274c-.857-1.578-2.589-2.898-4.612-2.984h-6.773l.017 12.466v6.756h3.052v-6.756h3.704c1.749-.069 3.241-1.097 4.167-2.383.583-.823 1.029-2.812 1.046-4.064-.017-1.217-.274-2.401-.6-3.035h-.001zm-2.263 3.292c0 1.492-1.475 2.846-2.332 2.846h-3.721l.017-5.847h3.721c.857 0 2.332 1.355 2.332 2.846v.171h-.017v-.017.001zm-15.106-5.521c-.84-.549-2.126-.892-3.172-.857-.995-.017-2.401.291-3.224.823-1.457.926-2.692 2.521-2.778 4.355v9.191c.069 1.783 1.286 3.395 2.709 4.321.84.549 2.126.892 3.172.857.995.017 2.401-.291 3.241-.84 1.457-.926 2.692-2.521 2.778-4.355v-9.174c-.069-1.783-1.303-3.395-2.726-4.321zm-.343 13.134c0 1.457-1.32 2.298-2.778 2.332h.137-.12c-1.457-.017-2.761-.892-2.778-2.332v-8.539c.034-1.492 1.303-2.298 2.778-2.315h-.137.12c1.457.017 2.761.909 2.778 2.315v8.539zm21.159.274c.103 2.864 2.606 5.195 4.801 5.195h1.457l1.132.017c.84-.034 4.167-1.68 4.167-1.68l-.429-1.132-.737-2.023-3.155 1.303c-.48.171-.892.274-1.32.343-.086.017-.84 0-.84 0-.96 0-2.04-1.183-2.04-2.023v-9.156c0-.823 1.012-2.023 2.349-2.023h.549c.446.069.84.171 1.32.343l3.155 1.303.737-2.023.429-1.132-3.035-1.235c-.48-.223-1.217-.394-1.749-.446l-.549.017h-1.457c-2.195 0-4.698 2.349-4.801 5.213v9.225c.12 2.864.017-.086.017-.086h-.001z" />
                    </g>
                    <g id="hotel-brummell" style="display:none">
                        <path d="M62.4,22.7h2.5v16.4h-2.5V26l-4.5,4.6L53.5,26v13.1h-0.8V26l-4.5,4.6L43.7,26v13.1h-2.5V22.7h2.5l0,0l0,0l4.5,4.6l4.5-4.6
                            l0,0l0,0h0.8l0,0l0,0l4.5,4.6L62.4,22.7L62.4,22.7L62.4,22.7z M10.7,30.3c0.4-0.7,0.7-1.5,0.7-2.4c0-2.6-2.1-4.8-4.7-4.8
                            c-1.8,0-3.4,1.1-4.2,2.6v4.4c0,0.1,0.1,0.2,0.1,0.2c1-1.1,2.5-1.9,4.1-1.9C8.3,28.5,9.7,29.2,10.7,30.3 M3,30.9
                            c0.9,1.1,2.2,1.8,3.7,1.8s2.8-0.7,3.7-1.8c-0.9-1.1-2.2-1.8-3.7-1.8S3.9,29.8,3,30.9 M11.4,33.9c0-0.9-0.2-1.7-0.7-2.4
                            c-1,1.1-2.4,1.9-4,1.9c-1.6,0-3.1-0.7-4.1-1.9c0,0.1-0.1,0.2-0.1,0.2v4.4c0.8,1.5,2.4,2.6,4.2,2.6C9.3,38.7,11.4,36.5,11.4,33.9
                            M6.7,22.5c3,0,5.4,2.4,5.4,5.5c0,1.1-0.3,2.1-0.9,3c0.6,0.9,0.9,1.9,0.9,3c0,3-2.4,5.5-5.4,5.5c-1.7,0-3.2-0.8-4.2-2v1.7H0V22.7
                            h2.5v1.7C3.5,23.3,5,22.5,6.7,22.5 M82.7,22.7h-2.5v16.4h9.1v-0.8h-6.6V22.7z M93.4,38.4V22.7h-2.5v16.4h9.1v-0.8L93.4,38.4
                            L93.4,38.4z M38.1,33.8c0,2.9-2,4.9-4.7,4.9c-1.1,0-2.1-0.4-3-1.1V22.7H28l0,0v11.2c0,3,2.5,5.5,5.4,5.5s5.4-2.2,5.4-5.6v-11h-0.8
                            C38.1,22.7,38.1,31,38.1,33.8 M16.7,30.2c0.8,1.5,2.4,2.5,4.1,2.5c2.6,0,4.7-2.1,4.7-4.8s-2.1-4.8-4.7-4.8c-1.8,0-3.4,1-4.1,2.5
                            L16.7,30.2 M26.3,27.9c0,3-2.4,5.5-5.4,5.5c-0.5,0-0.9-0.1-1.3-0.2l6.4,5.3L25.6,39l-8.8-7.2v7.3h-2.5V22.7h2.5v1.7
                            c1-1.2,2.5-2,4.1-2C23.9,22.5,26.3,24.9,26.3,27.9 M67.4,39.1h10.5v-2.2h-8v-7.4h8v-0.8h-8v-3.8h8v-2.2H67.4L67.4,39.1L67.4,39.1z"/>
                    </g>
                    <g id="teresa-helbig" style="display:none">
                        <path d="M0,17.1h2.9v8.8h2.9v-8.8h2.9v-2.4H0V17.1z M19.4,25.9h6.4v-2.5h-3.5v-1.9h3.3V19h-3.3v-1.9h3.5v-2.4h-6.4V25.9
                        z M43.6,18.1c0-0.8-0.3-1.6-0.8-2.3c-0.6-0.8-1.6-1.2-2.9-1.2h-4.5v11.2h2.9v-4.3l2.8,4.3h3.6l-3.5-4.6
                        C42.8,20.9,43.6,19.8,43.6,18.1z M38.9,19.7h-0.6v-2.8h0.6c1.1,0,1.8,0.5,1.8,1.4S40,19.7,38.9,19.7z M60.9,23.4h-3.5v-1.9h3.3V19
                        h-3.3v-1.9h3.5v-2.4h-6.4v11.2h6.4V23.4z M77.6,19.1c-0.8-0.3-1.3-0.4-1.5-0.5c-0.4-0.2-0.5-0.5-0.5-0.8s0.1-0.5,0.4-0.7
                        c0.2-0.2,0.5-0.3,0.9-0.3c0.6,0,1.3,0.3,1.9,0.8l1.2-2.3c-1.1-0.6-2.3-0.9-3.6-0.9c-1.1,0-2.1,0.3-2.8,1s-1,1.6-1,2.7
                        c0,1,0.3,1.7,0.9,2.2c0.4,0.3,1.1,0.6,2.1,0.9c1.4,0.4,1.7,0.7,1.7,1.3c0,0.7-0.6,1.1-1.4,1.1s-1.7-0.4-2.6-1.1l-1.2,2.3
                        c1.2,0.8,2.5,1.3,3.9,1.3s2.5-0.4,3.2-1.1c0.8-0.7,1.2-1.7,1.2-2.9C80.4,20.6,79.6,19.6,77.6,19.1z M92.2,23.9h4l0.7,1.9h3.1
                        l-4.2-11.2h-3.2l-4.3,11.2h3.1L92.2,23.9z M94.3,18.1l1.2,3.6h-2.4L94.3,18.1z M94.2,43.3h2.4c-0.2,1.3-1,1.9-2.3,1.9
                        c-0.9,0-1.6-0.3-2.2-1s-0.8-1.5-0.8-2.5s0.3-1.8,0.8-2.5s1.2-1,2.1-1c1.1,0,1.9,0.6,2.4,1.8l2.8-1.1c-1-2.1-2.7-3.2-5-3.2
                        c-2,0-3.5,0.6-4.6,1.9c-1,1.1-1.5,2.5-1.5,4.1c0,1.8,0.6,3.2,1.7,4.3s2.6,1.6,4.3,1.6c1.3,0,2.4-0.3,3.3-0.9c0.9-0.6,1.6-1.5,2-2.6
                        c0.3-0.8,0.4-1.8,0.4-3h-5.8L94.2,43.3L94.2,43.3z M74.8,36h2.9v11.2h-2.9V36z M61.3,41.2c0.8-0.5,1.2-1.2,1.2-2.3
                        c0-1.9-1.1-2.9-3.2-2.9h-4.9v11.2h5.3c2.4,0,3.9-1.2,3.9-3.2c0-0.8-0.2-1.4-0.6-1.9C62.7,41.7,62.1,41.4,61.3,41.2z M57.4,38.2h1.1
                        c0.9,0,1.4,0.4,1.4,1.1s-0.5,1.1-1.4,1.1h-1.1V38.2z M58.6,44.9h-1.2v-2.4h1.2c0.8,0,1.4,0.1,1.6,0.3c0.3,0.2,0.5,0.5,0.5,0.9
                        C60.7,44.6,60,44.9,58.6,44.9z M40,36h-3v11.2h6.7v-2.5H40V36z M19.4,47.2h6.4v-2.5h-3.5v-1.9h3.3v-2.5h-3.3v-1.8h3.5V36h-6.4V47.2z
                        M5.8,40.3H2.9V36H0v11.2h2.9v-4.6h2.9v4.6h2.9V36H5.8V40.3z"/>
                    </g>
                    <g id="sky" style="display:none">
                        <path d="M43.3,0.4c-1.4,0-2.8,0-4.2,0c-1.3,0.8-3.1,1.3-3.9,2.5C34.3,4.1,34,6,34,7.6c-0.1,13.3,0,26.7,0,40
                        c0,0.5,0,1,0.1,1.6c1.9,0,3.6,0.2,5.4,0c3.2-0.4,4.2-1.7,4.2-5c0-14,0-28,0-42.1C43.7,1.5,43.5,0.9,43.3,0.4z M88.5,17.9
                        c-1.9,4.1-3.6,8.4-5.4,12.5c-0.4,0.9-0.8,1.7-1.2,2.8c-0.4-0.7-0.7-1.1-1-1.5c-3.5-5.7-7-11.4-10.5-17.1c-0.7-1.1-1.5-1.5-2.7-1.7
                        c-4.7-0.8-8.6,0.7-11.8,4.3c-3.5,4-7.1,7.8-10.7,11.8c-0.3,0.4-0.7,0.8-1,1.2c0.8,1.3,1.5,2.4,2.3,3.6c2.5,3.9,4.9,7.8,7.4,11.6
                        c2.6,4,9.3,5.4,13.1,2.7c-3.3-4.9-6.5-9.8-9.8-14.7c-1.7-2.5-1.7-2.5,0.4-4.8c2-2.1,4-4.2,6-6.3c0.3,0.2,0.4,0.2,0.4,0.3
                        c4.2,6.6,8.5,13.3,12.7,19.9c0.3,0.5,0.2,1.3,0,1.9c-1.5,3.3-3.1,6.6-4.6,9.9c-1,2.1-2,4.1-2.9,6.2c5.2,2,9.6,1.2,11.7-3.7
                        c4.3-9.9,8.8-19.7,13.2-29.6c2-4.4,3.9-8.8,5.9-13.2C95.4,11.6,90.7,13.2,88.5,17.9z M24,28.4c-2.1-0.8-4.4-1.1-6.7-1.6
                        c-2.1-0.5-4.2-0.8-6.3-1.4c-0.6-0.2-1.4-1.1-1.4-1.6c0-0.6,0.8-1.4,1.4-1.7c0.8-0.4,1.9-0.5,2.8-0.5c2.8,0,5.7,0.1,8.5,0.3
                        c4.9,0.3,6.6-2.4,6.4-7c0-0.9-0.3-1.3-1.3-1.4c-5-0.1-10-0.5-15.1-0.5c-3.1,0-6,1-8.5,3c-5.3,4.2-5,12.4,0.7,16.1c1.5,1,3.3,1.6,5,2
                        c3.3,0.8,6.6,1.3,9.9,2.2c0.7,0.2,1.5,1.2,1.7,2c0.3,1.2-0.8,1.9-1.9,2c-2.1,0.2-4.3,0.2-6.4,0.2c-2.4,0-4.8-0.3-7.2-0.2
                        c-2.2,0.1-3.8,1.3-4.3,3.5C1,45.3,1,46.9,0.8,48.9C6.7,49,12,49.3,17.3,49.2c2.1,0,4.3-0.5,6.3-1.2c4.6-1.6,7-5,7.1-9.8
                        C30.9,33.5,28.6,30.1,24,28.4z"/>
                    </g>
                    <g id="amorelie" style="display:none">
                        <path d="M14.7,35.8c0.6-3.4,1.2-7,1.9-10.4c0.3,0,0.7-0.1,0.9,0.3c1.1,2.4,2.3,4.9,3.4,7.4c1.1-2.4,2.3-5,3.4-7.4
                        c0.1-0.4,0.5-0.3,0.8-0.3c0.6,2.9,1,6,1.6,8.9c0.1,0.8,0.3,1.6,0.4,2.4c-0.6,0.1-1.2,0-1.9,0c-0.3-0.3-0.3-0.8-0.4-1.2
                        c-0.3-1.7-0.5-3.3-0.8-5.1c-0.9,2-1.8,4.1-2.7,6.1c-0.1,0.3-0.4,0.5-0.7,0.4c-0.3,0-0.3-0.4-0.5-0.6c-0.9-1.9-1.7-3.8-2.6-5.9
                        c-0.3,2-0.6,4.1-0.9,6.1c-0.1,0.1-0.2,0.2-0.3,0.2c-0.6,0-1.2,0.1-1.7,0C14.6,36.4,14.7,36.1,14.7,35.8z M61.2,25.7
                        c0,0,0.1-0.1,0.2-0.2c2.3,0,4.7,0,6.9,0c0,0.6,0.2,1.3-0.1,1.8c-1.6,0.1-3.2,0-5,0c0,0.9,0,1.7,0,2.6c1.4,0,2.7,0,4.2,0
                        c0.2,0.6,0.1,1.3,0,1.9c-1.4,0.1-2.8,0-4.2,0c0,0.9,0,1.8,0,2.7c1.4,0,2.9,0,4.4,0c0.2,0,0.5-0.1,0.7,0.2c0.1,0.6,0.1,1.1,0,1.7
                        c-2.3,0-4.6,0-6.9,0c0,0-0.1-0.1-0.2-0.1C61.2,32.9,61.2,29.4,61.2,25.7z M73.6,25.5c0.7,0,1.3,0,2,0c0.1,3,0,6.2,0,9.2
                        c1.4,0,2.9-0.1,4.4,0.1c0,0.6,0,1.1,0,1.7c0,0-0.1,0.1-0.2,0.1c-1.9,0-3.8,0-5.8,0c-0.2,0-0.5,0-0.5-0.3
                        C73.5,32.8,73.5,29.2,73.6,25.5z M84.8,25.6c0.5-0.2,1-0.1,1.5-0.1c0.2,0,0.6-0.1,0.5,0.3c0,3.2,0,6.6,0,9.8c0,0.4,0,0.7-0.1,1.1
                        c-0.6,0-1.2,0-1.8,0l-0.1-0.1c0-3.2,0-6.6,0-9.8C84.8,26.3,84.8,25.9,84.8,25.6z M92.8,26c0-0.2,0-0.6,0.3-0.5c2.2,0,4.5,0,6.8,0
                        c0.1,0.5,0.1,1,0,1.5c0,0.2-0.2,0.4-0.4,0.3c-1.5,0-3.1,0-4.7,0c0,0.9,0,1.7,0,2.6c1.3,0,2.6,0,4.1,0c0.3,0,0.2,0.4,0.2,0.5
                        c0,0.4,0,0.9,0,1.3c-1.4,0.1-2.8,0-4.3,0c0,0.9,0,1.8,0,2.7c1.5,0,3.1,0,4.7,0c0.2,0,0.4,0.1,0.4,0.3c0,0.5,0,1.1-0.1,1.6
                        c-2.3,0-4.7,0-6.9,0c0,0-0.1-0.1-0.2-0.1C92.8,33,92.8,29.6,92.8,26z M40.5,26.6c-1.3-1-3-1.4-4.6-1.2c-1.7,0.3-3.3,1.4-4.2,3.1
                        c-1,1.7-0.9,4.1,0.2,5.8c1.2,1.9,3.7,2.9,5.9,2.5c2.1-0.5,3.9-2,4.5-4C43,30.7,42.3,28,40.5,26.6z M40.5,31.3c-0.1,2-2,3.6-4.1,3.3
                        c-1.6-0.1-3.1-1.5-3.2-3.2c-0.2-1.6,1.1-3.4,2.9-3.9C38.3,27,40.7,29,40.5,31.3z M53.6,32.1c0.7-0.3,1.4-0.8,1.8-1.4
                        c0.8-1.1,0.7-2.8,0-3.9c-0.6-0.9-1.8-1.7-2.9-1.7c-1.6,0-2.8,0-4.3,0c-0.3,0-0.2,0.9-0.2,1c0,3.1,0,6.3,0,9.4c0,0.4,0,0.8,0.1,1.2
                        c0.6,0.1,1.2,0.1,1.8,0c0-0.1,0.2-0.2,0.2-0.2c0-1.5,0-2.4,0-4.4c0,0,0.8,0,1.4,0c0.7,1,1.3,2.6,1.9,3.8c0.1,0.2,0.2,0.4,0.4,0.6
                        c0.6,0.1,1.3,0.1,2,0c0.2-0.2,0-0.5-0.1-0.7C54.9,34.6,54.3,33.3,53.6,32.1z M52.3,30c-0.9,0-1.3,0-2.3,0c0,0,0-1,0-3
                        c1,0,1.4,0,2.3,0c0.9,0,1.7,0.8,1.5,1.8C53.7,29.5,53,30,52.3,30z M5.7,25.4c-0.3,0-0.6,0-0.7,0.3c-1.6,3.5-3.2,7.1-4.8,10.6
                        c-0.1,0.2-0.3,0.8,0,0.8c0.6,0,1.2,0,1.8,0c0.5-1,0.7-2,1-2c1.7,0,3.2,0,4.8,0c0.3,0,0.5,1,1,2c0.6,0,1.2,0,1.8,0
                        c0,0,0.1-0.4,0.2-0.4C9.1,32.9,7.4,29.1,5.7,25.4z M3.9,33c0.5-1,1-2.3,1.5-3.4C5.9,30.7,6.4,32,7,33C5.9,33,4.9,33,3.9,33z"/>
                    </g>
                    <g id="reply" style="display:none">
                        <path d="M51.1,39l-1.6-7.8c2-0.7,3.2-2.3,3.6-4.5c0.7-3.3-0.8-5.3-4.8-5.3h-4.9L39.5,39h3.4l1.6-7.2h1.6l1.3,7.2H51.1
                        L51.1,39L51.1,39z M46.2,24.2h1.7c1.5,0,2.2,0.7,1.8,2.4c-0.4,1.7-1.4,2.4-2.9,2.4h-1.7L46.2,24.2L46.2,24.2z M64.8,33.1l0.7-3.1
                        c0.6-2.7-1-4.5-3.9-4.5s-5.3,1.8-5.9,4.7l-1,4.3c-0.6,2.9,0.9,4.7,3.8,4.7c3.1,0,5.1-1.6,5.8-4.3h-3.1c-0.2,1-0.9,1.9-2.2,1.9
                        c-1,0-1.7-0.6-1.4-1.9l0.4-1.8H64.8L64.8,33.1L64.8,33.1z M58.7,30.6l0.2-0.7c0.3-1.2,1-1.9,2.2-1.9s1.6,0.7,1.4,1.9l-0.2,0.7H58.7
                        L58.7,30.6z M70,25.6l-4,17.9h3.1l1.3-5.8c1.2,1.1,1.9,1.5,2.7,1.5c2.4,0,3.8-1.9,4.5-5.3l0.7-3.2c0.8-3.4,0.2-5.3-2.2-5.3
                        c-1.4,0-2.9,1-3.7,1.8l0,0l0.4-1.6H70L70,25.6L70,25.6z M72.4,28.6c0.8-0.7,1.4-0.9,2.1-0.9c0.8,0,1.4,0.5,0.8,3.2l-0.6,2.8
                        c-0.6,2.6-1.4,3.2-2.2,3.2c-0.7,0-1.2-0.3-1.6-0.9L72.4,28.6L72.4,28.6z M84.5,21.3h3.1l-3.9,17.6h-3.1L84.5,21.3z M86.9,40.8
                        c0.3,0,0.6,0,0.9,0c1.3,0,2.5-1.2,2.6-1.8c0.2-0.8,0.1-1.7,0.1-2.8l-0.7-10.7h3.1l0.1,8.8l0,0l3.9-8.8h3.1l-6.5,13.2
                        c-1.6,3.2-2.9,4.4-5.4,4.7h-1.8h-0.1L86.9,40.8L86.9,40.8z M33.3,18.5c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S34.4,18.5,33.3,18.5
                        L33.3,18.5z M28.9,27.1l2.7-3.7l-1.4-2.2h-4.9h-3.2l1.3,1.1l4.7,0.8L22.6,29l-7.8,1.1l3.7,0.3l5.6-0.5l1.7,0.3l3.7,3l0.8,5.6
                        l1.2-0.1v-6.3l-3.3-4.5L28.9,27.1z M57.4,38.9H18.8H57.4z M57.4,39H18.8v-0.1L57.4,39L57.4,39z M29.5,18.6c-1.1,0-2,0.9-2,2
                        s0.9,2,2,2s2-0.9,2-2S30.6,18.6,29.5,18.6L29.5,18.6z M25,27.1l2.8-3.6l-1.4-2.3h-5h-3.1l1.3,1.1l4.6,0.9l-5.4,5.9L11,30.2h4.3
                        l5.3-0.6l1.4,0.6l3.7,3l0.8,5.6l1.2-0.1v-6.3L24.4,28L25,27.1z M25.8,18.6c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2
                        S26.9,18.6,25.8,18.6L25.8,18.6z M21.3,27.1l2.8-3.6l-1.4-2.3l-5,0.1h-3.1l1.3,1l4.6,0.9l-5.4,5.9l-7.8,1.1l1.3,1.4l7.7-0.1l2-1.2
                        l3.7,2.9l0.8,5.6H24v-6.3L20.7,28L21.3,27.1z M23.9,40.2v-1.5H0v1.5H23.9z"/>
                    </g>
                    <g id="nivea" style="display:none">
                        <path d="M50,0C32.9,0,19,13.9,19,31c0,17.1,13.9,31,31,31c17.1,0,31-13.9,31-31C81,13.9,67.1,0,50,0z M36,36.8l-5-4.7V36h-4V25.2
                        l6,4.7V26h3V36.8z M42,36h-3V26h3V36z M48.5,36.9L42.7,26h3.5c0,0,2.1,4.2,2.3,4.5l2.3-4.5h3.5C54.3,26,48.5,36.9,48.5,36.9z M61,29
                        h-3v1l3,0v2h-3v1h3v3h-6V26h6V29z M70.8,36l-0.5-1h-4.1l-0.6,1h-3.5c0,0,4-7.3,6.1-11l6.1,11H70.8z M68.2,30.4l1.2,2.6H67L68.2,30.4
                        z"/>
                    </g>
                    <g id="poste-italiane" style="display:none">
                        <path d="M41.5,33.5c0,1.1,0.3,2.1,1.5,2.1c0.9,0,1.5-0.4,1.6-1.3h3.1
                        c-0.1,1.1-0.8,2-1.7,2.4c-0.8,0.5-1.7,0.7-2.8,0.7c-3.5,0-4.9-1.5-4.9-4.9c0-2.8,2.1-4.3,4.7-4.3c3.6,0,4.7,2,4.7,5.3H41.5
                        L41.5,33.5z M44.7,31.7c0-0.5-0.1-0.9-0.4-1.3c-0.3-0.4-0.6-0.6-1.2-0.6c-1.2,0.1-1.4,0.9-1.5,1.9H44.7L44.7,31.7z M0,37.2V24.6h5.8
                        c3.1,0,5.1,1,5.1,4c0,3-2,4-5.1,4H3.5v4.5H0L0,37.2z M5.3,30.3c1.4-0.1,2-0.7,2-1.6c0-0.9-0.6-1.6-2-1.6H3.5v3.2H5.3L5.3,30.3z
                        M21.2,32.8c0,3.2-2.4,4.6-5.1,4.6c-2.7,0-5.1-1.4-5.1-4.6c0-3.2,2.4-4.6,5.1-4.6C18.8,28.2,21.2,29.6,21.2,32.8L21.2,32.8z
                        M16.1,35.6c1.4,0,1.7-1.5,1.7-2.7c0-1.2-0.3-2.7-1.7-2.7c-1.4,0-1.7,1.5-1.7,2.7C14.4,34.1,14.7,35.6,16.1,35.6L16.1,35.6z
                        M27,31.2h3.1c-0.1-2.4-2.1-3-4.1-3c-1.7,0-4,0.6-4,2.8c0,3.2,5.2,2.2,5.2,3.8c0,0.6-0.5,0.8-1.1,0.8c-0.3,0-0.6-0.2-0.8-0.4
                        c-0.2-0.2-0.3-0.5-0.2-0.8h-3.1c0,2.7,2.1,3.1,4.2,3.1c2,0,4.2-0.6,4.2-2.9c0-1.4-0.7-2.1-1.8-2.4c-2.1-0.6-3.4-0.6-3.4-1.3
                        c0-0.5,0.3-0.8,0.8-0.8c0.5,0,0.7,0.1,0.9,0.3C26.9,30.6,27,30.9,27,31.2L27,31.2z M32.4,28.5h-1.7v2.1h1.7v3.9
                        c-0.2,2.7,1.2,3,3.4,3c0.5,0,1,0,1.8-0.2v-2c-0.4,0.1-0.8,0.1-1.3,0.1c-0.8,0-0.6-1.1-0.6-1.4v-3.5h1.9v-2.1h-1.9v-2.6l-3.3,1.3
                        V28.5L32.4,28.5z M49.2,28.4h1.7v8.8h-1.7V28.4L49.2,28.4z M49.1,24.5h2v1.8h-2V24.5L49.1,24.5z M53.6,28.4l-1.5-0.1v1.2l1.5,0v5.6
                        c0,1.2,0.1,1.2,0.4,1.6c0.3,0.4,0.7,0.5,1,0.6c0.4,0.1,0.7,0.1,1.1,0.1c0.4,0,0.8-0.1,1.1-0.1V36c-0.3,0.1-0.6,0.1-0.9,0.1
                        c-0.6,0-1.1-0.3-1.1-0.9v-5.7l2,0v-1.2l-2,0.1V26l-1.7,0.5V28.4L53.6,28.4z M63.8,31.7c0-1.5-0.1-2.4-1.9-2.4
                        c-0.8,0-1.6,0.5-1.6,1.4h-1.7c0.1-1.9,1.6-2.6,3.3-2.6c1.8,0,3.6,0.5,3.6,3v4.2c0,0.4,0,1.1,0.1,1.9h-1.1c-0.2,0-0.5,0.1-0.5-0.1
                        c0-0.4-0.1-0.8-0.1-1.2h0c-0.5,1.1-1.5,1.6-2.7,1.6c-1.5,0-3.1-0.8-3.1-2.5c0-2.5,2.2-3.2,4.3-3.2H63.8L63.8,31.7z M62.1,32.9
                        c-1,0.1-2.4,0.4-2.4,1.7c0,1.1,0.8,1.6,1.7,1.6c2,0,2.3-1.7,2.3-3.3H62.1L62.1,32.9z M67.1,24.5v12.6h1.7V24.5H67.1L67.1,24.5z
                        M70.8,28.4h1.7v8.8h-1.7V28.4L70.8,28.4z M70.6,24.5h2v1.8h-2V24.5L70.6,24.5z M79.7,31.7c0-1.5-0.1-2.4-1.9-2.4
                        c-0.8,0-1.6,0.5-1.6,1.4h-1.7c0.1-1.9,1.6-2.6,3.3-2.6c1.8,0,3.6,0.5,3.6,3v4.2c0,0.4,0,1.1,0.1,1.9h-1.1c-0.2,0-0.5,0.1-0.5-0.1
                        c0-0.4-0.1-0.8-0.1-1.2h0c-0.5,1.1-1.5,1.6-2.7,1.6c-1.5,0-3.1-0.8-3.1-2.5c0-2.5,2.2-3.2,4.3-3.2H79.7L79.7,31.7z M78.1,32.9
                        c-1,0.1-2.4,0.4-2.4,1.7c0,1.1,0.8,1.6,1.7,1.6c2,0,2.3-1.7,2.3-3.3H78.1L78.1,32.9z M84.7,29.7v-1.3h-1.6v8.8h1.7v-4.8
                        c0-1.7,0.5-2.1,0.7-2.3c0.7-0.7,1.6-0.6,1.6-0.6c1.4,0,2,0.8,2,2.2v5.5h1.7v-6.1c0-2.8-2.7-3-3.3-3C86.6,28.1,85.3,28.6,84.7,29.7
                        L84.7,29.7L84.7,29.7z M93.8,33.1c-0.1,1.5,0.5,3.1,2.2,3.1c1.3,0,1.9-0.5,2.1-1.8h1.7c-0.3,2-1.8,3-3.9,3c-2.8,0-3.9-2-3.9-4.6
                        c0-2.6,1.3-4.7,4.1-4.7c2.6,0.1,3.9,1.7,3.9,4.1v0.8H93.8L93.8,33.1z M98.3,31.9c0-1.5-0.6-2.6-2.2-2.6c-1.4,0-2.2,1.2-2.2,2.6H98.3
                        L98.3,31.9z"/>
                    </g>
                    <g id="flatui" display="none">
                        <path d="M2.771 8h16.328v4.047h-11.547v5.297h10.109v4h-10.109v9.656h-4.781v-23zm23.734 23h-4.453v-23.031h4.453v23.031zm13.734-8.281c-.281.177-.565.32-.852.43-.286.109-.68.211-1.18.305l-1 .188c-.938.167-1.609.37-2.016.609-.688.406-1.031 1.036-1.031 1.891 0 .76.211 1.31.633 1.648.422.339.935.508 1.539.508.958 0 1.841-.281 2.648-.844.807-.563 1.227-1.589 1.258-3.078v-1.656zm-2.703-2.078c.823-.104 1.411-.234 1.766-.391.635-.271.953-.693.953-1.266 0-.698-.242-1.18-.727-1.445-.484-.266-1.195-.398-2.133-.398-1.052 0-1.797.26-2.234.781-.313.385-.521.906-.625 1.563h-4.297c.094-1.49.51-2.714 1.25-3.672 1.177-1.5 3.198-2.25 6.063-2.25 1.865 0 3.521.37 4.969 1.109 1.448.74 2.172 2.135 2.172 4.188v7.813c0 .542.01 1.198.031 1.969.031.583.12.979.266 1.188.146.208.365.38.656.516v.656h-4.844c-.135-.344-.229-.667-.281-.969-.052-.302-.094-.646-.125-1.031-.615.667-1.323 1.234-2.125 1.703-.958.552-2.042.828-3.25.828-1.542 0-2.815-.44-3.82-1.32-1.005-.88-1.508-2.128-1.508-3.742 0-2.094.807-3.609 2.422-4.547.885-.51 2.187-.875 3.906-1.094l1.516-.188zm9.359-3.344v-3.172h2.375v-4.75h4.406v4.75h2.766v3.172h-2.766v9c0 .698.089 1.133.266 1.305.177.172.719.258 1.625.258l.43-.008.445-.023v3.328l-2.109.078c-2.104.073-3.542-.292-4.313-1.094-.5-.51-.75-1.297-.75-2.359v-10.484h-2.375zm21.656-9.328h4.891v14.156c0 1.583.187 2.74.563 3.469.583 1.292 1.854 1.938 3.813 1.938 1.948 0 3.214-.646 3.797-1.938.375-.729.563-1.885.563-3.469v-14.156h4.891v14.156c0 2.448-.38 4.354-1.141 5.719-1.417 2.5-4.12 3.75-8.109 3.75-3.99 0-6.698-1.25-8.125-3.75-.76-1.365-1.141-3.271-1.141-5.719v-14.156zm27.516 23.031h-4.781v-23.031h4.781v23.031z" id="a"/>
                    </g>
                    <g id="atrapalo" display="none">
                        <path d="M31.871 28.69c0-.122-.569.081-.976.651-.285.407-.61.488-1.057.569-.407.081-.691.163-1.179-.122-.041 0-.407-.285-.407-.325-.407-.244-.244-.407-.041-.447.813-.081 1.057.407 2.115-.407.244-.203 1.057-.813 1.302-.935.407-.285.895-.691 1.057-.773l.488-.203.081-.081c-.041-.081-.041-.244-.244-.325h-.529c-.407 0-.61-.041-.854.081l-.488.041c-.081 0-.122.244-.325.244-.163-.081-.203-.244 0-.488.447-.366 1.261-.407 1.79-.325.529.122.854.366.935.488.122-.041.325-.081.529.041.244.163 1.871 1.302 2.359 1.179.61-.244.854-.61.61-2.4l-.366-2.318c-.366-.732-.163-1.79-.163-1.871-.081-.163.325-1.424.651-1.993.285-.285.773-.976.976-1.139.244-.163.203-.569.325-.61.163-.041.366-.122.407-.325.041-.203.569-1.952.773-2.237.203-.285.325-.773.407-.813.122-.041.691-1.505 1.057-1.912.366-.366.569-.529.691-.813.122-.244.041-.407-.081-.61-.244-.569-2.156-2.888-2.278-3.091-.122-.163-1.22-1.424-1.505-1.505-.325-.366-3.294-3.498-3.498-3.579-.203-.407-.976-.935-.976-1.057 0-.163.244-.366.488-.732.203-.366 1.057-.61 1.22-.529.325.366.732.854.854 1.057 0 0 1.22 1.261 1.424 1.302 0 0 1.993 1.668 2.196 1.79.203.081.651.447.813.569.163.081.976.976 1.383 1.057l1.057.488c.122.081.691.569.854.651.163.081 1.912.773 2.074.773.163 0 1.139.569 1.22.61.081 0 .732.569.895.366l.447-.447c.081-.407.163-.732.366-.813.163-.081.529-.122.691-.325.163-.203 0-.569.122-.651.163-.081.163-.163.488-.203.325-.041.244-.041.488-.122.244-.041.244-.163.569-.081.325.081.325.163.488.244l.407.366c.163.081.325.122.325.285 0 .163-.122.366.081.488.203.081.691.651.813.854.122.244.122.813.122 1.057 0 .203.081.732 0 .895-.163.122-2.074.122-2.4.041-.325-.081-1.22-.122-1.139.041 0 .081-.122 2.278 0 2.603.122.407.285.569.407.61.163.041.691.081.813-.041.325-.203.325-.285.488-.569.041-.081.122 0 .244.081.122.041 1.261.447 1.464.488 2.766.488 5.775-1.464 6.019-1.586.244-.122 1.017-.651.895-.488-.122.163.691 2.156.691 2.156s-.203.163-.976.488c-.081.041-2.237.732-2.237.732s-1.952.976-2.806 1.057c-.732.081-2.969-.366-2.969-.366s-2.034-.244-2.156-.244c-.244 0-1.668.041-2.4.325-.244.081-.854.447-1.179.854-.244.325-.203.732-.407.854-.854.447-.854.854-.813.854.122 0 5.653-.285 5.897-.244.244.081 6.589.732 6.752.732 1.302.244 2.237.325 2.888.285l2.644-1.912 8.419 6.752-16.147 38.272-6.345-5.125 4.23-9.436-6.548-5.775 5.003-4.027 4.596 3.701 7.199-15.699-.163-.122-27.25 20.499-6.345-5.125 25.989-18.587c-.651-.163-1.627-.447-2.644-.447-.976.041-1.871-.203-2.034-.203-.163 0-1.424.325-1.424.325s-.976.081-1.342.163c-1.749.447-4.027 1.302-4.271 1.342 0 0-.651.163-1.017.203-.325.163-1.668 3.579-3.132 6.182-.407.732-.813 1.464-1.342 1.993 0 0-.244.488-1.22.081-.244 0-3.579-1.302-3.701-1.546-.122-.244-2.034-.651-2.115-.732-.163.041.447-.773.407-.976" />
                    </g>
                    <g id="frenchbiscuit" display="none">
                        <path d="M66.972 14.04c1.346-.275 2.018.245 2.477 1.346.734 1.682 1.56 3.303 2.661 4.924.245-1.865.489-3.7.734-5.719.581.061 1.131.122 1.774.214-.367 3.272-.734 6.422-1.101 9.633-1.223.336-1.927 0-2.416-1.162-.734-1.713-1.621-3.364-2.722-5.046-.245 1.835-.459 3.67-.703 5.688-.55-.061-1.07-.092-1.804-.183.367-3.303.734-6.514 1.101-9.694zM18.899 42.908c1.04.795 1.07 2.171.459 3.578-.612 1.437-1.774 1.774-3.272 1.529-1.101-.183-2.202-.183-3.517-.245.183-3.272.367-6.453.581-9.694 1.346 0 2.477-.031 3.639 0 1.193.031 2.324.459 2.569 1.713.122.887-.275 1.865-.459 3.119zm-4.128.031v3.517c1.04-.275 1.988-.398 2.813-.795.245-.122.336-1.346.153-1.468-.826-.489-1.804-.795-2.966-1.254zm.214-1.223c.917-.183 1.682-.306 2.446-.55.092-.031.061-.887-.031-.917-.765-.245-1.529-.367-2.416-.55v2.018zM43.578 14.315c1.04.061 1.835.153 2.661.183 1.774.092 3.18.703 3.792 2.508.612 1.774-.153 3.058-1.713 4.098.459 1.162.887 2.324 1.376 3.547-1.437.336-2.141-.153-2.569-1.437-.306-.948-.336-2.385-2.171-2.141-.122.979-.275 2.018-.428 3.119h-1.835c.275-3.303.581-6.514.887-9.878zm1.59 2.08c.581 1.009-1.315 2.538.948 2.936 1.04.183 2.141.245 2.171-1.284.031-1.223-.917-1.774-3.119-1.651zM90.948 14.865c.703-.122 1.193-.214 1.865-.336.214 1.284.398 2.508.642 3.945 1.223-.153 2.385-.306 3.7-.489-.153-1.376-.306-2.599-.489-3.976.612-.061 1.131-.122 1.896-.214.459 3.272.917 6.453 1.407 9.755l-1.865.183c-.245-1.346-.459-2.63-.703-4.006-1.223.183-2.355.336-3.639.489.153 1.346.306 2.599.459 4.006-.55.122-1.07.245-1.835.428-.489-3.242-.948-6.453-1.437-9.786zM11.651 14.682h6.391v1.651h-4.251v2.202c1.131.061 2.324.122 3.547.183v1.621h-3.67c-.061.795-.092 1.498-.183 2.446 1.162 0 2.202.061 3.242 0 1.315-.092 1.804.367 1.346 1.804-1.835 0-3.7.031-5.566-.031-.306 0-.856-.581-.856-.887-.031-2.997 0-5.933 0-8.991zM56.208 15.263l.245 2.11 3.67-.245c.092.52.153 1.009.245 1.59-1.254.183-2.385.336-3.7.489.061.734.092 1.407.183 2.294 1.498-.122 2.936-.245 4.526-.367.122.52.214.979.336 1.682-2.232.245-4.312.459-6.575.703-.367-3.364-.703-6.514-1.07-9.817 2.141-.245 4.128-.459 6.3-.703l.214 1.713c-1.468.183-2.875.367-4.373.55zM60.581 38.015c.703.153 1.223.245 1.896.398-.245 1.621-.489 3.15-.703 4.709-.092.55-.153 1.101-.183 1.651-.031 1.04.336 1.835 1.437 2.018 1.162.214 1.804-.52 2.08-1.56.245-1.04.398-2.11.581-3.15l.489-3.18c.642.122 1.193.214 1.927.336-.398 2.324-.673 4.557-1.193 6.697-.459 1.957-2.08 2.936-4.037 2.691-1.957-.245-3.364-1.713-3.242-3.761.153-2.202.612-4.465.948-6.85zM86.575 15.813c-.489.306-.917.581-1.315.856-2.538-1.804-3.364-1.927-4.404-.612-1.254 1.59-.979 4.037.612 5.199 1.254.948 2.263.612 3.853-1.407.489.245 1.009.489 1.529.765-1.009 2.202-2.813 3.272-4.74 2.936-2.232-.398-3.823-2.355-4.037-4.924-.183-2.355 1.284-4.587 3.425-5.229 1.927-.55 3.761.275 5.076 2.416zM52.997 42.511l1.468.459c-.336 2.11-1.865 3.517-3.884 3.639-2.171.122-4.251-1.498-4.862-3.853-.642-2.446.306-4.893 2.263-5.933 1.988-1.04 3.884-.581 5.627 1.498l-1.284 1.101c-2.232-1.529-3.303-1.56-4.251-.153-1.07 1.56-.581 3.945.979 5.015 1.468.979 2.477.55 3.945-1.774zM32.263 45.141c1.009-.459 1.743-.673 2.355.489.245.489.979.826 1.59.979.306.092.917-.245 1.07-.581.153-.336.061-.948-.153-1.254-.489-.703-1.131-1.284-1.743-1.927-.887-.917-1.346-1.988-.734-3.18.581-1.131 1.621-1.498 2.844-1.346 1.376.183 2.385.795 2.783 2.691-.917-.245-1.621-.489-2.324-.642-.398-.092-.826-.031-1.254-.061.061.398-.031.887.183 1.193.428.612 1.04 1.131 1.529 1.682 1.162 1.346 1.376 2.722.612 3.914-.703 1.101-2.294 1.621-3.823 1.254-1.498-.367-2.385-1.315-2.936-3.211zM31.254 14.07h6.239v1.498l-4.373.214v2.049h3.639v1.774c-1.193.061-2.324.122-3.578.183v4.067h-1.927v-9.786zM81.04 40.064c.031-.52.061-1.009.061-1.407h7.645c-.061.734-.092 1.223-.122 1.804h-2.752l-.398 7.92h-1.682c0-1.988-.122-4.006.031-5.994.122-1.59-.214-2.446-1.988-2.171-.214.031-.459-.092-.795-.153zM2.691 21.93c1.56-.092 2.966-.214 4.557-.306.061.55.092 1.07.153 1.713-2.171.183-4.251.367-6.483.581-.275-3.303-.581-6.514-.856-9.878l1.865-.153c.275 2.691.52 5.291.765 8.043zM24.557 36.823c.703-.031 1.193-.061 1.896-.122.245 3.272.52 6.453.765 9.817-.612.031-1.193.061-1.927.092-.245-3.272-.489-6.453-.734-9.786zM75.382 46.425c-.887-.092-1.376-.122-1.774-.153v-9.694h1.774v9.847z"/>
                    </g>
                    <g id="propulsion" display="none">
                        <path d="M9.487 37.681v-11.957999999999998c0-.399.114-.513.513-.513 1.388.038 2.795-.019 4.183.038.703.019 1.407.133 2.072.342 1.236.418 1.882 1.35 2.129 2.605.304 1.54.209 3.023-.703 4.354-.513.741-1.236 1.198-2.11 1.293-1.008.133-2.015.171-3.042.19-.399.019-.494.133-.494.513.019.875-.019 1.749.019 2.624.019.399-.133.494-.513.494l-2.053.019zm2.567-10.228c0 1.407 0 2.776.019 4.125 0 .114.209.304.323.304.684.019 1.369.019 2.034-.038.703-.057 1.274-.589 1.388-1.236.095-.475.133-.97.114-1.445-.038-.97-.589-1.673-1.312-1.711-.856-.038-1.673 0-2.567 0zM26.16 32.985c.095-1.198.209-2.357.951-3.365.456-.608 1.027-1.084 1.787-1.179.837-.114 1.711-.266 2.548-.171 1.426.171 2.529.741 3.042 2.471.513 1.73.494 3.498-.209 5.171-.437 1.027-1.293 1.635-2.395 1.882-.951.228-1.901.228-2.833-.019-1.312-.342-2.186-1.179-2.51-2.51-.19-.741-.247-1.521-.38-2.281zm4.373-2.605c-1.008 0-1.616.57-1.654 1.597-.038.741-.057 1.483 0 2.224.076.856.494 1.521 1.54 1.616.684.057 1.521-.361 1.673-1.274.171-.97.209-1.958.019-2.928-.152-.741-.608-1.331-1.578-1.236zM93.555 42.548v-1.616c.456-.076.913-.114 1.35-.228.779-.209 1.179-.722 1.179-1.521l.019-5.361c0-.361.038-.722.114-1.065.152-.665.551-1.141 1.35-1.407-1.312-.494-1.445-1.521-1.464-2.586-.019-1.559-.038-3.118 0-4.677.057-1.806-.779-2.11-2.072-2.281l-.475-.038v-1.692c1.179-.038 2.357-.095 3.384.608.722.494.97 1.274.97 2.129.019 1.958 0 3.935 0 5.894 0 .228.019.456.057.684.152.76.494 1.046 1.274 1.065h.57l.038.228v1.54h-.665c-.684.019-1.046.304-1.179.97-.057.247-.076.513-.076.779v5.703c0 1.787-.932 2.776-2.719 2.871-.532.019-1.084 0-1.654 0zM.171 32.186v-1.749c.285 0 .532.019.798 0 .646-.076.97-.38 1.046-1.008.057-.456.076-.932.076-1.407v-4.924c0-1.901.817-2.795 2.719-2.947l1.635-.095v1.73l-.779.095c-1.331.209-1.787.722-1.787 2.072 0 1.654.019 3.308-.019 4.962 0 .437-.076.894-.209 1.331-.152.551-.608.856-1.198 1.084 1.331.494 1.426 1.559 1.407 2.7-.019 1.483 0 2.947 0 4.43-.019 1.445.247 2.224 2.091 2.395l.475.057v1.654c-.989.019-1.939.095-2.871-.285-.97-.399-1.445-1.16-1.464-2.148-.038-1.882-.019-3.764-.038-5.646v-.494c-.038-1.16-.228-1.882-1.692-1.749l-.19-.057zM38.156 37.757v3.992h-1.369v-13.289h1.312l.076.57c.171-.076.304-.152.456-.19.779-.209 1.54-.532 2.338-.589 1.654-.095 2.738.798 3.099 2.414.323 1.464.342 2.966.019 4.449-.38 1.806-1.464 2.7-3.308 2.738-.875.019-1.711-.057-2.624-.095zm0-4.43v2.681c0 .323.038.513.437.513l1.293.152c1.73.038 2.586-.456 2.909-2.224.038-.247.095-.494.076-.722-.076-.951-.076-1.92-.266-2.833-.228-1.008-.913-1.483-1.939-1.388-.703.076-1.407.342-2.091.532-.304.076-.418.285-.418.608v2.681zM72.871 33.023c.076-.627.076-1.236.209-1.806.399-1.958 1.236-2.757 3.232-2.947.627-.057 1.293-.019 1.92.114 1.635.323 2.319 1.521 2.529 3.042.171 1.274.171 2.548-.114 3.821-.342 1.597-1.103 2.338-2.757 2.548-.798.095-1.654.076-2.452-.076-1.369-.247-2.072-1.236-2.319-2.548-.133-.722-.171-1.445-.247-2.148zm1.407-.019l.076.019c0 .342-.019.684 0 1.027.095 1.787.646 2.51 2.186 2.624 1.673.114 2.51-.342 2.719-1.787.133-.989.19-2.015.076-3.004-.228-2.053-.894-2.529-2.966-2.395-.97.057-1.597.513-1.825 1.445-.133.684-.171 1.388-.266 2.072zM19.829 28.46h2.51v.856c.989-.38 1.863-.97 2.947-1.084v2.471c-.875.228-1.711.456-2.567.646-.342.076-.361.304-.361.57v5.798h-2.129c-.304 0-.418-.133-.418-.456.019-2.681 0-5.342 0-8.023.019-.247.019-.494.019-.779zM84.487 37.662h-1.331v-9.202h1.312l.038.57c.323-.133.589-.247.894-.361.932-.342 1.844-.513 2.852-.361 1.065.19 1.768.76 1.958 1.806.171.875.228 1.768.266 2.643.038 1.616.019 3.232.019 4.886h-1.388v-.494c0-1.825 0-3.669-.019-5.494 0-.323-.076-.646-.152-.951-.209-.779-.703-1.16-1.502-1.198-.932-.057-1.806.171-2.624.57-.152.076-.266.342-.285.513-.019 2.167-.019 4.354-.019 6.521-.019.171-.019.342-.019.551zM46.464 28.46h1.388v.532c0 1.73 0 3.479.019 5.209 0 .456.076.913.19 1.331.171.722.589 1.008 1.312 1.084.913.076 1.768-.133 2.605-.475.304-.133.399-.304.399-.627-.019-2.148 0-4.316 0-6.464v-.57h1.331v9.163h-1.312l-.057-.475c-.703.228-1.388.494-2.091.646-.76.171-1.521.095-2.243-.171-.703-.266-1.141-.837-1.255-1.559-.152-.913-.266-1.863-.285-2.795-.038-1.502-.019-3.023 0-4.525-.038-.095-.019-.19 0-.304zM60.361 36.407c1.274.076 2.471.19 3.688.19 1.274 0 1.92-.817 1.654-1.939-.095-.437-.418-.665-.798-.76-.779-.19-1.578-.342-2.376-.494-.228-.057-.475-.095-.703-.171-1.179-.361-1.616-.894-1.692-2.072-.076-1.16.437-2.091 1.426-2.529.779-.342 1.597-.437 2.433-.361.875.076 1.73.19 2.605.285.076 0 .152.057.19.076v1.103c-1.16-.076-2.281-.171-3.384-.228-.342-.019-.703.076-1.046.171-.57.19-.837.627-.837 1.236 0 .532.228.875.837 1.046l2.776.646c1.559.399 2.034 1.027 1.977 2.586-.038 1.388-.779 2.281-2.148 2.567-1.502.304-3.004.019-4.487-.19-.076-.019-.19-.171-.19-.266l.076-.894zM56.54 24.43h1.312v13.213h-1.312v-13.213zM69.335 28.46h1.312v9.183h-1.312v-9.183zM70.646 24.753v1.559h-1.293v-1.559h1.293z" />
                    </g>
                    <g id="sunamers" display="none">
                        <path d="M88.673 36.945c-2.201-.55-2.913-2.557-4.045-4.142-1.036-1.424-1.262-1.586-3.01-1.392v5.081l-1.553.097v-11.909c1.812 0 3.592-.162 5.307.065 1.456.194 2.33 1.262 2.395 2.816.065 1.618-.712 2.589-2.718 3.333 2.524 4.239 2.816 4.595 4.79 5.405-.324.259-.615.453-.874.68-.065-.032-.194-.032-.291-.032zm-7.055-6.505c1.65.065 3.333.324 4.11-1.327.356-.744.356-2.006-.065-2.654-.906-1.489-2.492-1.262-4.045-1.036v5.016zM0 33.385c.453.356 1.068.583 1.359 1.036.971 1.618 4.175 2.168 5.566.906.939-.841.744-2.557-.485-3.301-1.1-.647-2.33-1.068-3.495-1.586-1.942-.841-2.621-1.909-2.33-3.56.227-1.456 1.553-2.427 3.43-2.557 2.265-.129 3.689.68 4.401 2.88-.583-.356-1.068-.453-1.262-.744-.971-1.489-2.362-1.65-3.819-1.133-.647.227-1.392.971-1.521 1.586-.097.518.518 1.392 1.068 1.748.971.615 2.136.971 3.236 1.424 2.104.939 2.977 2.071 2.816 3.657-.194 1.586-1.262 2.524-3.495 3.01-.194.032-.388.129-.615.227h-.647c-1.683-.421-3.301-.906-4.207-2.589v-1.003zM95.146 36.945c-1.133-.518-2.33-.971-3.43-1.65-.421-.259-.55-.971-.809-1.489l.356-.356c.324.227.777.388.971.712 1.036 1.748 3.56 2.427 5.307 1.359 1.262-.777 1.262-2.589-.129-3.495-.971-.647-2.136-1.036-3.204-1.489-2.265-.971-2.977-1.909-2.686-3.657.227-1.424 1.489-2.427 3.269-2.589 2.298-.227 3.851.615 4.628 2.848-.615-.324-1.036-.453-1.294-.744-1.1-1.294-2.492-1.812-3.948-1.133-.583.291-1.294.971-1.359 1.553-.065.55.518 1.392 1.036 1.748.874.583 1.942.874 2.945 1.294 2.362 1.003 3.301 2.168 3.074 3.819-.194 1.618-1.262 2.492-3.689 3.01-.162.032-.291.129-.453.194-.162.065-.356.065-.583.065zM16.181 36.945l-1.392-.324c-1.845-.421-3.042-1.683-3.139-3.625-.129-2.46-.097-4.951-.065-7.443 0-.356.421-.68.647-1.036.291.356.777.68.809 1.036.065 2.168.032 4.304.032 6.472.032 2.589 1.23 3.948 3.463 3.948 2.46.032 3.851-1.359 3.883-3.916.032-2.46 0-4.919 0-7.379.162-.032.324-.065.485-.065.097.324.259.647.259 1.003.032 1.78 0 3.56 0 5.34 0 4.11-.55 4.854-4.337 5.987h-.647zM58.22 37.074c-1.877-3.528-3.528-6.634-5.178-9.741l-.356.032v9.223l-.55.032c-.065-.356-.227-.712-.227-1.068-.032-3.236-.032-6.472.032-9.709 0-.421.356-.841.55-1.294.388.324.906.55 1.133.971 1.424 2.589 2.816 5.21 4.207 7.832.259.453.518.906.874 1.553 1.618-3.01 3.172-5.858 4.693-8.673.194-.324.291-.712.55-.971.259-.291.647-.453.971-.647.194.324.518.647.518.971.032 3.592.032 7.217.032 10.841-1.068.485-1.553.259-1.553-.906.032-2.168 0-4.304 0-6.472 0-.518-.065-1.036-.356-1.618-1.715 3.074-3.43 6.181-5.34 9.644zM35.016 24.647v12.071c-3.172-3.107-6.214-6.084-9.223-9.061l-.485.097v8.835l-.55-.032v-12.233c3.074 3.269 5.987 6.375 8.9 9.482l.712-.388v-8.77h.647zM71.262 30.375v5.243h6.052l.129.485c-.324.162-.615.485-.939.485-2.201.032-4.401.032-6.764.032v-11.909h7.573l.032.55h-6.052v4.563h5.178c0 .194 0 .356.032.55h-5.243zM37.832 36.395c1.586-3.754 3.139-7.508 4.757-11.23.421-1.003 1.036-.841 1.456.032 1.748 3.689 3.463 7.411 5.178 11.133-1.036.55-1.715.291-2.006-.744-.583-2.201-1.974-2.977-4.142-2.589-.324.065-.647.065-.971 0-1.618-.324-2.524.356-2.913 1.909-.162.615-.583 1.165-.874 1.748-.162-.065-.324-.162-.485-.259zm2.621-4.272h5.113l-2.686-5.696c-.874 2.071-1.618 3.819-2.427 5.696z" />
                    </g>
                    <g id="glenrothes" display="none">
                        <path d="M29.869 39.954h2.418v-1.111h-2.418v-.98h3.137v-1.111h-4.444v5.752h4.575v-1.046h-3.268v-1.503zm9.673-2.092h1.634v4.641h1.307v-4.641h1.569v-1.111h-4.51v1.111zm-2.941.98c-1.111-.196-1.242-.392-1.242-.719 0-.327.392-.588.915-.588s1.046.261 1.111 1.046l1.242-.261c0-1.046-1.176-1.699-2.353-1.699-1.176 0-2.157.588-2.157 1.699 0 .915.85 1.373 2.157 1.634.588.131 1.373.327 1.373.915 0 .523-.523.85-1.111.85s-1.111-.327-1.176-.784c-.065-.261-.065-.392-.065-.588l-1.307.327c0 .131 0 .196.065.458.196.915 1.111 1.503 2.418 1.503.523 0 1.046-.131 1.438-.327.654-.327 1.111-.915 1.111-1.634-.131-.85-.719-1.503-2.418-1.83zm10.196-1.961h-1.895v3.399h1.895c.458 0 1.111-.261 1.111-1.699 0-1.438-.588-1.699-1.111-1.699zm-.261 2.745h-.784v-2.222h.85c.523 0 .654.458.588 1.111 0 .654-.131 1.111-.654 1.111zm4.967-1.699v.98c.196 0 .392 0 .588-.065l.458-.131v3.922h1.307v-5.752h-.85c-.261.458-.85.915-1.503 1.046zm7.778 1.307c.327-.261.588-.654.588-1.046 0-.85-.98-1.569-2.222-1.569s-2.222.719-2.222 1.569c0 .392.196.784.588 1.046-.523.392-.85.915-.85 1.438 0 1.111 1.111 1.961 2.484 1.961s2.484-.915 2.484-1.961c0-.588-.327-1.111-.85-1.438zm-1.634-1.569c.523 0 .915.261.915.588 0 .327-.392.588-.915.588s-.915-.261-.915-.588c0-.327.392-.588.915-.588zm0 3.922c-.654 0-1.176-.392-1.176-.85 0-.458.523-.85 1.176-.85.654 0 1.176.392 1.176.85 0 .458-.523.85-1.176.85zM60.915 36.817v1.111h2.81c-.196.654-.98 1.373-1.438 2.353-.588 1.307-.523 2.288-.523 2.288h1.438s.065-1.046.327-1.699c.261-.654.654-1.307 1.046-1.961.392-.588.458-.784.654-1.242.131-.458.131-.915.131-.915h-4.444v.065zm7.582-.131h-.131c-1.242 0-2.222.98-2.222 2.157 0 1.176.98 2.157 2.222 2.157.392 0 .719-.065 1.046-.261v.065c-.131.523-.915.85-1.634.654-.261-.065-.588-.196-.85-.392l-.458.98c.523.458 1.373.523 2.092.523 1.373 0 2.418-1.373 2.418-3.007 0-2.092-1.111-2.876-2.484-2.876zm.065 3.268c-.523 0-.915-.458-.915-1.111 0-.588.392-1.111.915-1.111s.915.458.915 1.111c0 .588-.392 1.111-.915 1.111zM44.967 40.739h2.614v.392h-2.614v-.392zm9.412-29.739v7.712h6.078v-1.438h-4.379v-2.026h3.268v-1.438h-3.268v-1.373h4.183v-1.438h-5.882zm-3.333 0v2.745h-2.876v-2.745h-1.699v7.712h1.699v-3.464h2.876v3.464h1.699v-7.712h-1.699zm-11.961 0v1.503h2.157v6.209h1.765v-6.209h2.157v-1.503h-6.078zm-16.732 16.732h4.379v-1.961h-4.379v-1.83h5.686v-1.961h-8.039v10.458h8.301v-1.961h-5.948v-2.745zm60.85 0h4.379v-1.961h-4.379v-1.83h5.686v-1.961h-8.039v10.458h8.301v-1.961h-5.948v-2.745zm-51.176-2.353l4.379 7.059h1.961v-10.458h-2.222v6.144l-3.856-6.144h-2.484v10.458h2.222v-7.059zm44.575.392h-3.922v-3.791h-2.288v10.458h2.288v-4.641h3.922v4.641h2.353v-10.458h-2.353v3.791zm18.693-.131c-2.092-.392-2.353-.719-2.353-1.307s.719-1.046 1.634-1.046c.915 0 1.961.523 2.092 1.895l2.353-.458c0-1.961-2.222-3.203-4.444-3.203s-3.987 1.111-3.987 3.137c0 1.699 1.634 2.614 3.987 3.072 1.176.196 2.549.588 2.549 1.699 0 .915-.98 1.569-2.157 1.569-1.176 0-2.092-.654-2.222-1.438-.065-.458-.131-.784-.065-1.046l-2.418.588c0 .261-.065.392.065.915.392 1.765 2.092 2.876 4.51 2.876.98 0 1.895-.196 2.68-.523 1.176-.588 2.026-1.634 2.026-3.007 0-1.895-1.176-3.072-4.248-3.725zm-46.275-.654c0-1.569-1.438-2.876-3.268-2.876h-5.556v10.327h2.353v-4.575h1.961l1.961 4.575h2.549l-2.092-4.771c1.242-.392 2.092-1.438 2.092-2.68zm-3.791.98h-2.68v-2.026h2.68c.719 0 1.307.458 1.307.98 0 .588-.588 1.046-1.307 1.046zM68.758 21.98h-8.301v2.026h3.007v8.431h2.353v-8.431h2.941v-2.026zm-9.542 8.366c.458-1.176.392-2.092.392-3.203 0-1.111.065-2.026-.392-3.203-.654-1.765-2.157-2.353-4.314-2.353s-3.66.588-4.314 2.353c-.458 1.176-.392 2.092-.392 3.203 0 1.111-.065 2.026.392 3.203.654 1.765 2.157 2.353 4.314 2.353 2.157.065 3.66-.523 4.314-2.353zm-2.288-.784c-.327.85-1.046 1.176-1.961 1.176s-1.634-.327-1.961-1.176c-.261-.654-.261-1.046-.261-2.353 0-1.373 0-1.765.261-2.353.327-.85 1.046-1.176 1.961-1.176s1.634.327 1.961 1.176c.261.654.261 1.046.261 2.353 0 1.307 0 1.699-.261 2.353zM13.333 21.98h-2.353v10.458h7.516v-1.961h-5.163v-8.497zm-9.216 5.621h2.745c0 .719.065 1.373-.131 1.961-.196.719-1.046 1.242-2.026 1.242-.98 0-1.83-.523-2.026-1.242-.196-.719-.261-1.503-.261-2.418 0-.915.065-1.699.261-2.418.196-.719.85-1.242 2.026-1.242.98 0 1.699.588 1.961 1.373l.065.327 2.222-.458c-.065-2.288-2.157-3.007-4.248-3.007-2.092 0-3.595.588-4.248 2.353-.392 1.111-.458 2.026-.458 3.072 0 1.046.065 2.026.458 3.137.654 1.765 2.157 2.353 4.248 2.353 1.242 0 2.288-.327 3.072-1.111l.327.915h1.176v-6.667h-5.163v1.83zm61.961 20.98c0-.261-.327-.261-.327-.261-.719 0-1.046.261-1.373.458-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458-.196 0-.327.131-.327.261 0 .131.131.261.327.261.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327 0 .065.327 0 .327-.261zm0-1.895c0-.261-.261-.261-.261-.261-.719 0-1.046.261-1.373.458-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458-.196 0-.327.131-.327.261 0 .131.131.261.327.261.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327-.065.065.261.065.261-.261zm0 3.791c0-.261-.327-.261-.327-.261-.719 0-1.046.261-1.373.458-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458s-1.046.261-1.373.458c-.261.196-.458.327-.915.327-.458 0-.654-.131-.915-.327-.327-.196-.654-.458-1.373-.458-.196 0-.327.131-.327.261 0 .131.131.261.327.261.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327.458 0 .654.131.915.327.327.196.654.458 1.373.458s1.046-.261 1.373-.458c.261-.196.458-.327.915-.327 0 .065.327 0 .327-.261z"/>
                    </g>
                    <g id="triangle">
                        <path d="M76.8,62L23.2,31L76.8,0V62z"/>
                    </g>
                </svg>
            </aside>
