
<nav class="projects--nav">
  <ul>
    {% assign pages = site.pages | sort:"weight"  %}
    {% for p in pages %}
      {% if p.group == "projects" %}
      <li>
        <a{% if p.url == page.url %} class="active"{% endif %} href="{{ p.url | replace:'/','' }}" data-svg="{{ p.url | replace:'/','' | split:'.html' }}">{{ p.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
