
/**
 * Border-box default
 */
* {
    box-sizing: border-box;
    outline: none;
    &:focus {
        outline: none;
    }
}
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
    list-style: none;
    margin: 0;
    padding: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:visited {
        color: $text-color;
    }
}

::selection {
  //color: $second-color;
  background: $first-color;
}

/**
 * Code formatting
 */
// pre,
// code {
//     font-size: 15px;
//     border: 1px solid $grey-color-light;
//     border-radius: 3px;
//     background-color: #eef;
// }

// code {
//     padding: 1px 5px;
// }

// pre {
//     padding: 8px 12px;
//     overflow-x: auto;

//     > code {
//         border: 0;
//         padding-right: 0;
//         padding-left: 0;
//     }
// }

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
