
body {
	overflow: hidden;
}

// .loading {
//     position: absolute;
//     z-index: 999;
//     text-indent: -9000px;
//     opacity: 0.6;
//     top: 50%;
//     left: 50%;
//     width: 50px;
//     height: 50px;
//     margin: -25px 0px 0px -25px;
//     //background: black url(../images/ajax-loader.gif) no-repeat center center;
//     border-radius: 25px;
// }

#canvas-hp {
	//transform: translate(-54%, -103%);
	position: fixed;
	top: 50%;
	left: 50%;
	will-change: opacity;
	transform: translate3d(-50%,-50%,0);
	z-index: 0;
	opacity: 0;
	transition: opacity 1s ease-out;
	.showcanvas & {
		opacity: 1;
		z-index: 100;
	}
	&.inactive {
		visibility: hidden;
	}
}

.start-btn {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 99;
	opacity: 0;
	will-change: opacity;
	transition: opacity 1s ease-out;
	line-height: 1;
	font-size: 2.5vmin;
	padding: 1vmin;
	animation: move-btn 4s infinite;
	// &:before {
	// 	content: "";
	// 	width: 0px;
	// 	height: 0px;
	// 	border-style: solid;
	// 	border-width: 0 0 7vmin 7vmin;
	// 	border-color: transparent transparent $brand-color transparent;
	// 	display: block;
	// 	animation: move-btn 4s infinite;
	// 	position: relative;
	// }
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		// border: 3px solid transparent;
		// border-top-color: $brand-color;
		// border-right-color: $brand-color;
		// border-radius: 2.5vmin;
		// animation: circle 4s infinite;
	}
	&:after {
		content: "◢";
		//position: absolute;
		right: 0;
		bottom: 0;
		color: $brand-color;
	}
	.showcanvas & {
		opacity: 1;
	}
}

@keyframes move-btn {
   0% {
	right: 0;
	bottom: 0;
	font-size: 2.5vmin;
  }

  5% {
	right: 1vmin;
	bottom: 1vmin;
	font-size: 5.5vmin;
  }

  10% {
	right: 0;
	bottom: 0;
  }

  15% {
	right: 1vmin;
	bottom: 1vmin;
  }

  20% {
	right: 0;
	bottom: 0;
	font-size: 2.5vmin;
  }

  40% {
	right: 0;
	bottom: 0;
	font-size: 2.5vmin;
  }

  45% {
	right: 1vmin;
	bottom: 1vmin;
	font-size: 5.5vmin;
  }

  50% {
	right: 0;
	bottom: 0;
  }

  55% {
	right: 1vmin;
	bottom: 1vmin;
  }

  60% {
	right: 0;
	bottom: 0;
	font-size: 2.5vmin;
  }

  100% {
	right: 0;
	bottom: 0;
  }
}

// @keyframes circle {
//   0% {
// 	transform: rotate(0deg);
// 	opacity: 0;
//   }
//   5% {
// 	opacity: 1;
//   }
//   25% {
// 	transform: rotate(360deg);
// 	opacity: 1;
//   }
//   30% {
// 	opacity: 0;
//   }
//   100% {
// 	opacity: 0;
//   }
// }

.guide-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(55, 55, 55,.4);
	z-index: 100;
	display: none;
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		fill: #fafafa;
		width: 4vmin;
		animation: move-mouse 1s .5s forwards;
	}
	&.show {
		display: block;
	}
}

@keyframes move-mouse {
  0% {
	top: 50%;
	left: 50%;
  }
 //  70% {
	// top: 96%;
	// left: 98%;
 //  }
 //  90% {
	// top: 96%;
	// left: 98%;
	// opacity: 1;
 //  }
  100% {
	top: 96%;
	left: 98%;
  }
}

.rotation-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #010101 url('../img/rotate-device.jpg') center center no-repeat;
	z-index: 100;
	background-size: 50%;
}

h1 {
	display: none;
}

.main-header {
	text-align: center;
	position: relative;
	z-index: 4;
	opacity: 1;
	transition: opacity 1s ease-out 1s;
	.showcanvas & {
		opacity: 0;
	}
}

.container {
	opacity: 1;
	transition: opacity 1s ease-out 2s;
	.showcanvas & {
		opacity: 0;
	}
}

$triangle_base: 12;
$triangle_main: sqrt(3)/2 * $triangle_base;
$triangle_other: $triangle_base/2;

.logo {
	display: inline-block;
	margin: 0 auto;
	font-size: 0;

	span {
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 65.8px 38px 0 38px;
		border-width: $triangle_main+vmin $triangle_other+vmin 0 $triangle_other+vmin;
		border-color: #373a3c transparent transparent transparent;
		will-change: transform;
		transition: transform .6s .4s ease-out;
	}

	.fold__open & {
		span {
		transition: transform .6s ease-out;
			&:first-child {
				transform: rotate(150deg);
			}
			&:last-child {
				transform: rotate(-150deg);
			}
		}
	}

}

.side {

	&--left,
	&--right {
		position: absolute;
		top: 0;
		transform: translatex(-50%);
		width: 25%;
		height: 100%;
		//overflow: visible;
		//transition: left .5s .5s ease-out, overflow 0s .5s;
		will-change: transform;
		transition: left .5s .5s ease-out;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			height: 100%;
			width: 0%;
			will-change: width;
			//transition: width .5s, left .5s .7s;

			.transition & {
				animation: eraser 1s 1;
				// width: 100%;
				// left: 100%;
			}
		}

		.fold__open & {
			transition: left .5s ease-out;
		}

		.showcanvas & {
			opacity: 0;
		}
	}

	&--left {
		left: 25%;
		font-size: 3.5vmin;
		font-family: $nav-font-family;
		&:after {
			background-color: $third-color;
		}

		.fold__open & {
			left: 15%;
		}
	}

	&--right {
		left: 75%;
		&:after {
			background-color: $second-color;
		}

		.fold__open & {
			left: 85%;
		}
	}

}

@keyframes eraser {
   0% {
   	width: 0%;
	left: 0;
   }
   49% {
   	width: 100%;
   	left: 0;
   }
   50% {
	left: auto;
	right: 0;
   }
   100% {
   	width: 0%;
	left: auto;
	right: 0;
   }
}

.projects,
.about {

	&--nav,
	&--box,
	&--logo {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translatey(-50%);
	}

}

.projects {

	&--nav,
	&--logo {
		opacity: 1;
		transition: opacity .5s .5s;
		z-index: 2;
		.about-open & {
			transition: opacity .5s;
			opacity: 0;
			z-index: 1;
			a {
				cursor: default;
			}
		}
	}

	&--nav {
		li {
			a {
				white-space: nowrap;
				border-bottom: 1px solid;
				display: inline-block;

				&:hover {
					text-decoration: none;
				}
			}
			&:nth-child(3n-2) a {
				border-color: $first-color;
				&:hover {
					background-color: $first-color;
				}
			}
			&:nth-child(3n-1) a {
				border-color: $second-color;
				&:hover {
					background-color: $second-color;
				}
			}
			&:nth-child(3n) a {
				border-color: $third-color;
				&:hover {
					background-color: $third-color;
				}
			}
		}

		.fold__open & {
			li a {
				opacity: .5;
				&.active,
				&:hover {
					opacity: 1;
				}
			}
		}
	}

}

.about {
	&--box,
	&--logo {
		opacity: 0;
		transition: opacity .5s;
		z-index: 1;
		.about-open & {
			transition: opacity .5s .5s;
			z-index: 2;
			opacity: 1;
		}
	}

	&--box {
		font-size: 2vmin;
		li {
			white-space: nowrap;
		}
	}

	&--code {
		margin: 0;
		padding-left: 30px;
		overflow: auto;
		dt,
		dd {
			float: left;
		}
		dt {
			clear: left;
			margin-right: 7px;
			color: $third-color;
			&:after {
				content: ": ";
			}
		}
		a:hover {
			background-color: $first-color;
		}
	}

	&--logo svg {
		visibility: hidden;
		&.visible {
			visibility: visible;
		}
	}

	&--link {
		&:before {
			content: "About";
			.about-open & {
				content: "←";
			}
		}
	}

}

.color-2 {
	color: $second-color;
}

#sun-icon {
	height: 3vmin;
    vertical-align: text-top;
}

.tools {
	overflow: auto;
	p {
		margin: 4vh 0 1vh;
	}
	li {
		float: left;
		width: 33.333%;
	}
}

.social-pages {
	margin-top: 4vh;
	text-align: center;
	svg {
		height: 2.5vmin;
	}
	a {
		//display: inline-block;
		margin: 0 7px;
		&:hover svg {
			fill: $third-color;
		}
	}
}

#logos {
	fill: $text-color;
	//width: 100%;
}

.fold {

	&--wrapper {
		position: fixed;
		z-index: 1;
		top: 0;
		height: 100vh;
		width: 40%;
		visibility: hidden;
		overflow: hidden;
		transition: visibility 0s 0.9s;
		left: 50%;
		transform: translateX(-50%);
		.fold__open & {
			visibility: visible;
			transition: visibility 0s 0s;
			// &:before {
			// 	content: "";
			// 	position: absolute;
			// 	top: 0;
			// 	left: 50%;
			// 	width: 2px;
			// 	height: 100%;
			// 	background-color: #ffffff;
			// 	transform: translatex(-50%);
			// }
		}
	}

	&--left, &--right {
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		/* enable a 3D-space for children elements */
		perspective: 2000px;
		&::after {
			/* 2 fold sides */
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			/* Force Hardware Acceleration */
			transform: translateZ(0);
			backface-visibility: hidden;
			will-change: transform;
			transition: transform .5s .4s, background-color .5s .4s;
			background-color: #ffffff;
			.fold__open & {
			  transform: translateX(0);
			  transition: transform .5s 0s, background-color .5s 0s;
			}
		}
	}
	&--right {
		perspective-origin: 0% 50%;
		&::after {
			transform-origin: right center;
			transform: translateX(-100%) rotateY(-90deg);
		}
	}
	&--left {
		/* change perspective-origin so that the 2 fold sides have the same vanishing point */
		perspective-origin: 100% 50%;
		&::after {
			transform-origin: left center;
			transform: translateX(100%) rotateY(90deg);
		}
	}

	&--content {
	    position: absolute;
	    top: 50%;
	    transform: translatey(0);
	    width: 100%;
	    padding: 81px 7% 0;
		opacity: 0;
		will-change: transform;
		transition: opacity .3s, transform .4s ease-in;
		.fold__open & {
			opacity: 1;
	    	transform: translatey(-50%);
			transition: opacity .5s .5s, transform .3s .5s ease-out;
		}
		&.hide {
		    transform: translatey(0);
			opacity: 0;
			transition: opacity .3s, transform .5s ease-in;
		}
		a {
			text-decoration: underline;
			&:hover {
				color: $third-color;
			}
		}
	}

	&--nav {
		width: 100%;
		padding: 0 7%;
		position: absolute;
		bottom: 4vh;
		text-align: center;
		opacity: 0;
		height: 18px;
    	line-height: 1;
		transition: opacity .4s 0s;
		.fold__open & {
			opacity: 1;
			transition: opacity .6s .4s;
		}
		li {
			display: block;
			float: left;
			&:last-child {
				float: right;
			}
		}
		.inactive {
			opacity: .5;
			&:hover {
				text-decoration: none;
			}
		}
	}

	&--previous,
	&--next {
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		margin-right: 7px;
		//border-style: inset; //Firefox bug for strange grey lines
		-webkit-transform:rotate(360deg);
		&:not(.inactive){
			cursor: pointer;
		}
	}
	&--previous {
		border-width: 9.5px 16.5px 9.5px 0;
		border-color: transparent $brand-color transparent transparent;
		&:not(.inactive):hover {
			border-color: transparent $first-color transparent transparent;
		}
	}
	&--next {
		border-width: 9.5px 0 9.5px 16.5px;
		border-color: transparent transparent transparent $brand-color;
		&:not(.inactive):hover {
			border-color: transparent transparent transparent $first-color;
		}
	}
	&--close {
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: 19px;
		height: 19px;
		overflow: hidden;
		&:hover {
			&::before, &::after {
			  background-color: $second-color;
			}
		}

		&::before, &::after {
			content: '';
			position: absolute;
			height: 2px;
			margin-top: -2px;
			width: 100%;
			top: 50%;
			left: 0;
			background-color: $text-color;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
		.fold__open & {
		  opacity: 1;
		  transition: opacity .2s .5s;
		}
	}

}

//showcase images
//desktop = 1280x720
//tablet = 768x1024
//mobile = 320x560

.gotoproject {
	line-height: 20px;
    display: inline-block;
    border-bottom: 1px $text-color solid;
    border-top: 1px $text-color solid;
    text-decoration: none !important;
    padding: 2px 8.5% 5px;
	// &:after {
	// 	content: " ";
	// 	display: inline-block;
	// 	vertical-align: middle;
	// 	width: 20px;
	// 	height: 20px;
	// 	margin-left: 7px;
	// 	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAhFBMVEU4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODjK1VdtAAAAK3RSTlMABhUdIjo7PE1TVFdcX2Rmam50dXiCjpCWmKKyw8TIysvV3+nr8PL19vj5L//C+QAAAIZJREFUeAF1yOdygkAYhtEnJSEEe8EuKriC7/3fn7M737CM6Pl5KGtvCyzU1EGJgh3ASgYnb483v8lzPjfDwQ/BJeYv5qCYmd1RvbQrpWub30W44mOqe5uTcCdgrTZZ2sGMkLZnTEzGn8DXf/oX04wk9TKT3NtMuplY5mlHbvnMoReomp7qAXDYJW3RqL1KAAAAAElFTkSuQmCC);
	// }
	&:hover {
		color: $third-color;
		text-decoration: none;
	}
}

.text-center {
	text-align: center;
}

.main-footer {
	position: fixed;
	bottom: 4vh;
	left: 0;
	width: 100%;
	opacity: 1;
	transition: opacity 1s ease-out 1s;
	.showcanvas & {
		opacity: 0;
	}
}

.footer-nav {
	width: 100%;
	text-align: center;
	line-height: 1;
	li {
		display: inline-block;
	}
	a {
		&:hover {
			text-decoration: overline;
		}
		// &:focus {
		// 	text-decoration: none;
		// }
	}
}

.separator {
	font-size: 20px;
	&:before {
		content: "▴";
	}
}

@media screen and (min-width: $on-desktop) and (max-height: 650px) {

	.fold--content {
		img {
			display: none;
		}
	}

}

@media screen and (min-width: $on-desktop) {

	.separator {
		width: 1%;
		transition: width .5s .4s ease-out;
		.fold__open & {
			width: 45%;
			transition: width .5s ease-out;
			&:before {
				content: none;
			}
		}
	}

}

@media screen and (max-width: $on-desktop) {

	.separator {
		font-size: 11px;
	}

	.fold {
		&--nav {
			bottom: 11.5vh;
		}
	}

}

@include media-query($on-tablet) {

	#canvas-hp,
	.start-btn {
			display: none;
	}

	h1 {
		display: block;
	}

	.side {
		&--left {
			left: 50%;
			width: 100%;
			text-align: center;
			.fold__open & {
				left: 50%;
			}
		}

		&--right {
			display: none;
		}
	}

	// .projects {
	// 	&--nav {
	// 		position: static;
	// 		transform: none;
	// 	}
	// }

	.about {
		&--box {
			padding: 0 7vmin;
			text-align: left;
		}
	}

	.fold {
		&--wrapper {
			left: 0;
			width: 100%;
			//padding-top: 100px;
			visibility: visible;
			transform: translatex(-100%);
			background-color: #fafafa;
			transition: transform .5s ease-in .4s;
			.fold__open & {
				transition: transform .5s ease-out;
				transform: translatex(0);
				z-index: 3;
			}
		}

		&--left,
		&--right {
			/* the :after elements of .fold-left and .fold-right are the 2 fold sides */
			display: none;
		}
	}

	.main-footer {
		bottom: 2vh;
	}

	.separator {
		width: 4%;
	}
}

@media screen and (max-width: $on-tablet) and (orientation: portrait) {

	.projects {
		&--nav {
			//padding-top: 85px;
			font-size: 4vmin;
			li a {
				line-height: 5vh;
			}
		}
	}

	.fold {
		&--content {
			padding-top: 120px;
			top: 0;
			font-size: 1.8vh;
			.fold__open & {
				transform: none;
			}
		}
	}

	.about {
		&--box {
			font-size: 2vh;
		}
	}

	#sun-icon {
		height: 5vmin;
	}

	.separator {
		font-size: 0.7em
	}
}

@media screen and (max-width: $on-palm) and (orientation: portrait)  {

	h1 {
		margin-bottom: 0;
	}

	.projects {
		&--nav {
			//padding-top: 49px;
			font-size: 5vmin;
		}
	}

	.fold {
		&--content {
			padding-top: 60px;
		}
		&--nav {
			bottom: 16vh;
		}
	}

}



