<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="fold__open">

    {% include header.html %}

    <div class="container">

        <section class="side--left">
            {% include projects-nav.html %}
            {% include about.html %}
        </section>

        <div class="fold--wrapper">
            <div class="fold--left"></div>
            <div class="fold--right"></div>
            <!-- <article class="fold--content"> -->
                {{ content }}
            <!-- </article> -->
            <ul class="fold--nav">
                <li><a class="fold--previous" title="previous project"></a></li>
                <li><a class="fold--next" title="next project"></a></li>
                <li><a class="fold--close" title="close"></a></li>
            </ul>
        </div>

        <section class="side--right">
            {% include projects-logos.html %}
            {% include about-logo.html %}
        </section>

    </div>

    {% include footer.html %}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
      <script src='js/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17550037-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>

</html>
