---
layout: hp
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="showcanvas">

    {% include header.html %}

    <canvas id="canvas-hp" class="inactive"></canvas>

    <div class="container">

        <section class="side--left">
            {% include projects-nav.html %}
            {% include about.html %}
        </section>

        <div class="fold--wrapper">
            <div class="fold--left"></div>
            <div class="fold--right"></div>
            <!-- <article class="fold--content"> -->
                {{ content }}
            <!-- </article> -->
            <ul class="fold--nav">
                <li><a class="fold--previous" title="previous project"></a></li>
                <li><a class="fold--next" title="next project"></a></li>
                <li><a class="fold--close" title="close"></a></li>
            </ul>
        </div>

        <section class="side--right">
            {% include projects-logos.html %}
            {% include about-logo.html %}
        </section>

    </div>

    <div class="start-btn"></div>

    <div class="guide-overlay show">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="7 20.5 24 38" xml:space="preserve">
          <path d="M19.3,58.4c-6.5,0-11.9-5.3-11.9-11.9V32.3c0-6.5,5.3-11.9,11.9-11.9s11.9,5.3,11.9,11.9v14.2C31.2,53,25.8,58.4,19.3,58.4z
           M19.3,22.8c-5.2,0-9.5,4.3-9.5,9.5v14.2c0,5.2,4.3,9.5,9.5,9.5s9.5-4.3,9.5-9.5V32.3C28.8,27,24.5,22.8,19.3,22.8z M19.6,36.5
          c-0.7,0-1.2-0.5-1.2-1.2v-5.9c0-0.7,0.5-1.2,1.2-1.2c0.7,0,1.2,0.5,1.2,1.2v5.9C20.8,36,20.2,36.5,19.6,36.5z"/>
        </svg>
    </div>

    {% include footer.html %}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
      <script src='js/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17550037-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>

</html>
